@use "variables" as *;
@use "sass:color";

.title_actualites {
  margin-bottom: 40px;
  font-family: "Cormorant Garamond", sans-serif;
  text-align: center;
}

.article-box {
background: $off-white;
  color: #333;
  padding: 50px 70px;
  margin: 20px auto 20px auto;
  border-left: 6px solid $deep-blue;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05); 
   flex: 0 0 100%;       /* Chaque actu prend 100% de la largeur du carrousel */
  max-width: 100%;      /* Empêche de dépasser */
  box-sizing: border-box; 
  
}

.text_page {
  text-align: justify;
  line-height: 1.6em;
}

.text_page a {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.text_page a:hover {
  color: $deep-blue;
}

.news-carousel {
  position: relative;
  width: 85%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.news-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* espace entre flèches et points */
}

.carousel-nav button {
  background: none;
  border: none;
  font-size: 1.5rem; /* taille des < > */
  color: $deep-blue;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
   line-height: 1;
    display: flex;
    align-items: center;
  justify-content: center;         
}

.carousel-nav button:hover {
  transform: scale(1.2);
  color: color.adjust($deep-blue, $lightness: -15%);
}

.dots {
  display: flex;
  gap: 8px;
}

.dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dots button.active {
  background: $deep-blue;
}


.dots:last-of-type {
  margin-bottom: 80px;
}


@media screen and (max-width: 800px) {
  .article-box {
    padding: 5px 5px;
  }

}