
@use "variables" as *;
@use "header";
@use "footer";
@use "media";
@use "actualites";
@use "calendrier_mensuel";
@use "sass:color";


* {
    margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.2s;
  background: #e7dfd3;
}

a {
    text-decoration: none;
    color: black;
}

main {
    flex: 1;
    margin: 0 auto;
  max-width: 1200px;
  display: block;
}

.image_accueil {
    width: 300px;
    height: auto;
    margin: 50px;
}

.container_image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title_page {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    color: color.adjust($deep-blue, $lightness: -10%);
    text-transform: uppercase;
    text-align: center;
  font-family: "Cormorant Garamond", sans-serif;
  margin: 80px 0px 80px 0px;
}

