
@use "variables" as *;
@use "header";
@use "footer";
@use "media";
@use "sass:color";


* {
    margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.2s;
}

a {
    text-decoration: none;
    color: black;
}

main {
    background: #e7dfd3;
    flex: 1;
}

.image_accueil {
    width: 300px;
    height: auto;
    margin: 50px;
}

.container_image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title_page {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    color: color.adjust($deep-blue, $lightness: -10%);
    text-transform: uppercase;
    text-align: center;
  font-family: "Cormorant Garamond", sans-serif;
  margin: 80px 0px 80px 0px;
}

.title_actualites {
  margin-bottom: 40px;
  font-family: "Cormorant Garamond", sans-serif;
  text-align: center;
}

.article-box {
background: $off-white;
  color: #333;
  padding: 50px 70px;
  margin: 20px auto 80px auto;
  border-left: 6px solid $deep-blue;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05); 
   flex: 0 0 100%;       /* Chaque actu prend 100% de la largeur du carrousel */
  max-width: 100%;      /* Empêche de dépasser */
  box-sizing: border-box; 
  
}

.text_page {
  text-align: justify;
  line-height: 1.6em;
}

.text_page a {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.text_page a:hover {
  color: $deep-blue;
}

.news-carousel {
  position: relative;
  width: 85%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.news-track {
  display: flex;
  transition: transform 0.5s ease;
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: $deep-blue;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}
.prev { left: 10px; }
.next { right: 10px; }

/* ronds */
.dots {
  text-align: center;
  margin-top: 15px;
}
.dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  background: #ccc;
  cursor: pointer;
}
.dots button.active {
  background: $deep-blue;
}